@import "./segment.css";

@tailwind base;

/* 
Faint = Harder to see on background
Bold = Easier to see on background
*/
:root,
html[data-theme="light"] {
	/* Secondary */
	--color-secondary: 2, 96%, 79%;
	/* Primary */
	--color-primary-bold: 215, 100%, 55%;
	--color-primary: 215, 100%, 60%;
	--color-primary-faint: 215, 100%, 65%;
	/* Top-level */
	--color-highlight: 215, 35%, 40%;
	--color-type: 215, 35%, 10%;
	--color-app: 215, 35%, 100%;
	/* Primitive Background */
	--color-primitive-bold: 215, 35%, 85%;
	--color-primitive: 215, 35%, 93%;
	--color-primitive-faint: 215, 35%, 97%;
	/* Primitive Text */
	--color-primitive-type-bold: 215, 35%, 0%;
	--color-primitive-type: 215, 35%, 15%;
	--color-primitive-type-faint: 215, 35%, 35%;
	--color-primitive-type-extra-faint: 215, 35%, 50%;
	/* Primitive Border */
	--color-primitive-edge-extra-bold: 215, 35%, 60%;
	--color-primitive-edge-bold: 215, 35%, 70%;
	--color-primitive-edge: 215, 35%, 80%;
	--color-primitive-edge-faint: 215, 35%, 90%;
}

html[data-theme="dark"] {
	/* Secondary */
	--color-secondary: 2, 96%, 79%;
	/* Primary */
	--color-primary-bold: 215, 100%, 60%;
	--color-primary: 215, 90%, 60%;
	--color-primary-faint: 215, 80%, 60%;
	/* Top-level */
	--color-highlight: 215, 35%, 100%;
	--color-type: 215, 35%, 90%;
	--color-app: 215, 35%, 15%;
	/* Primitive Background */
	--color-primitive-bold: 215, 35%, 30%;
	--color-primitive: 215, 35%, 22%;
	--color-primitive-faint: 215, 35%, 18%;
	/* Primitive Text */
	--color-primitive-type-bold: 215, 35%, 100%;
	--color-primitive-type: 215, 35%, 85%;
	--color-primitive-type-faint: 215, 35%, 65%;
	--color-primitive-type-extra-faint: 215, 35%, 55%;
	/* Primitive Border */
	--color-primitive-edge-extra-bold: 214, 35%, 60%;
	--color-primitive-edge-bold: 215, 35%, 50%;
	--color-primitive-edge: 215, 35%, 40%;
	--color-primitive-edge-faint: 215, 35%, 35%;
}

:root {
	@apply scroll-smooth font-sans antialiased;
}

::-webkit-scrollbar {
	@apply w-2;
}

::-webkit-scrollbar-track {
	@apply bg-transparent;
}

::-webkit-scrollbar-thumb {
	@apply rounded-full bg-type/50;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-type/60;
}

button {
	-webkit-tap-highlight-color: transparent;
}

.dark [type="checkbox"]:checked,
.dark [type="radio"]:checked {
	background-color: currentColor;
}

.backdrop-blur {
	backdrop-filter: blur(18px);
	-webkit-backdrop-filter: blur(18px);
}

@tailwind components;
@tailwind utilities;
