@import "./segment.css";
@import "./theme.css";

@tailwind base;

:root {
	@apply scroll-smooth font-sans antialiased;
}

::-webkit-scrollbar {
	@apply w-2;
}

::-webkit-scrollbar-track {
	@apply bg-transparent;
}

::-webkit-scrollbar-thumb {
	@apply rounded-full bg-type/50;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-type/60;
}

button {
	-webkit-tap-highlight-color: transparent;
}

.dark [type="checkbox"]:checked,
.dark [type="radio"]:checked {
	background-color: currentColor;
}

.backdrop-blur {
	backdrop-filter: blur(18px);
	-webkit-backdrop-filter: blur(18px);
}

@tailwind components;
@tailwind utilities;
