@import "./segment.css";

@tailwind base;

/* 
Colors (Gray - Slate)

0             | 50            | 100           | 200           | 300           | 400 
#ffffff       | #f8fafc       | #f1f5f9       | #e2e8f0       | #cbd5e1       | #94a3b8
255, 255, 255 | 248, 250, 252 | 241, 245, 249 | 226, 232, 240 | 203, 213, 225 | 148, 163, 184


500           | 600           | 700           | 800           | 900           | 1000
#64748b       | #475569       | #334155       | #1e293b       | #0f172a       | #000000
100, 116, 139 | 71, 85, 105   | 51, 65, 85    | 30, 41, 59    | 15, 23, 42    | 0, 0, 0
*/

/* 
Faint = Harder to see on background
Bold = Easier to see on background
*/
:root,
html[data-theme="light"] {
	--color-primary: 0, 102, 255; /* Blue */
	--color-primary-bold: 0, 85, 212; /* Dark Blue */
	--color-secondary: 253, 155, 152; /* Pink */
	--color-highlight: 0, 0, 0; /* Black */
	--color-type: 15, 23, 42; /* Dark Gray */
	--color-app: 255, 255, 255; /* White */

	/* Primitive Background */
	--color-primitive-bold: 209, 211, 216; /* Gray 200 */
	--color-primitive: 234, 239, 245; /* Gray 100 */
	--color-primitive-faint: 248, 250, 252; /* Gray 50 */
	/* Primitive Text */
	--color-primitive-type-bold: 0, 0, 0; /* Gray 1000 */
	--color-primitive-type: 15, 23, 42; /* Gray 900 */
	--color-primitive-type-faint: 51, 65, 85; /* Gray 700 */
	--color-primitive-type-extra-faint: 100, 116, 139; /* Gray 500 */
	/* Primitive Border */
	--color-primitive-edge-extra-bold: 153, 157, 162;
	--color-primitive-edge-bold: 175, 179, 184;
	--color-primitive-edge: 202, 207, 212;
	--color-primitive-edge-faint: 216, 221, 226;
}

html[data-theme="dark"] {
	--color-primary: 41, 126, 255;
	--color-primary: 30, 101, 206;
	--color-secondary: 253, 155, 152;
	--color-highlight: 255, 255, 255;
	--color-type: 229, 231, 235;
	--color-app: 31, 41, 55;

	/* Primitive Background */
	--color-primitive-bold: 75, 85, 99;
	--color-primitive: 55, 65, 81;
	--color-primitive-faint: 41, 52, 70;
	/* Primitive Text */
	--color-primitive-type-bold: 255, 255, 255;
	--color-primitive-type: 229, 231, 235;
	--color-primitive-type-faint: 156, 163, 175;
	--color-primitive-type-extra-faint: 131, 136, 146;
	/* Primitive Border */
	--color-primitive-edge-extra-bold: 131, 148, 171;
	--color-primitive-edge-bold: 113, 128, 149;
	--color-primitive-edge: 91, 103, 120;
	--color-primitive-edge-faint: 74, 84, 98;
}

:root {
	@apply scroll-smooth font-sans antialiased;
}

html {
	@apply bg-white;
	scrollbar-color: #00000080 transparent;
	scrollbar-width: auto;
}

html[class*="dark"] {
	@apply bg-gray-900;
	scrollbar-color: #ffffffb3 transparent;
	scrollbar-width: auto;
}

::-webkit-scrollbar {
	height: 8px;
	width: 8px;
}

::-webkit-scrollbar-track {
	@apply bg-transparent;
}

::-webkit-scrollbar-thumb {
	@apply rounded-full bg-black/50 dark:bg-white/70;
}

::-webkit-scrollbar-thumb:hover {
	@apply bg-black/60 dark:hover:bg-white/80;
}

button {
	-webkit-tap-highlight-color: transparent;
}

.dark [type="checkbox"]:checked,
.dark [type="radio"]:checked {
	background-color: currentColor;
}

.backdrop-blur {
	backdrop-filter: blur(18px);
	-webkit-backdrop-filter: blur(18px);
}

@tailwind components;
@tailwind utilities;
